{% extends "registration_base.html" %}
{% load i18n %}

{% block content %}
<p>{% trans "Your account is now activated." %}</p>
<p>{% trans "Login using following link" %}</p>
<p><a href="{% url 'login' %}">{% trans "Log in" %}</a></p>
{% endblock %}
