{% extends "registration_base.html" %}
{% load i18n %}

{% block content %}
<div class="login-page">
  <h1 class="login-head">Login</h1>
  <div class="registration-widget">
    <form method="post" action="." class="login-form">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="fieldWrapper login-fields">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username }}
      </div>
      <div class="fieldWrapper login-fields">
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}">Password</label>
        {{ form.password }}
      </div>
      <input type="submit" value="{% trans 'Log in' %}" class="login-btn" />
      <input type="hidden" name="next" value="{{ next }}" class="next-btn" />
    </form>
    <p class="login-content">{% trans "Forgot password" %}? <a href="{% url 'password_reset' %}">{% trans "Reset it" %}</a>!</p>
  </div>
</div>
{% endblock %}
