{% extends 'registration_base.html' %}
{% load i18n %}
{% block content %}
  <div class="login-page">
    <h1 class="login-head">{% trans "Forgot password" %}</h1>
    <div class="registration-widget">
      <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper login-fields">
    	    {{ form.email.errors }}
    	    <label for="{{ form.email.id_for_label }}">{% trans "Email:" %}</label>
    	    {{ form.email }}
    	  </div>
        <button type="submit" class="login-btn">{% trans "Submit" %}</button>
      </form>
    </div>
  </div>
{% endblock %}