{% extends "registration_base.html" %}
{% load i18n %}

{% block content %}
  <div class="login-page">
    <div class="container project-delete password-log">
      <p>
        {% blocktrans %}
          We've emailed you instructions for setting your password, if an account exists with the email you entered.
          You should receive them shortly.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
          If you don't receive an email, please make sure you've entered the address you registered with,
          and check your spam folder.
        {% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}