{% extends "registration_base.html" %}
{% load i18n %}

{% block content %}
  <div class="password-log">
    <div class="login-page">
      <h1 class="login-head">Password Reset Confirm</h1>
        <div class="registration-widget">
        {% if validlink %}

        <form method="post" action="." class="login-form">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="fieldWrapper login-fields">
            {{ form.new_password1.errors }}
            <label for="{{ form.new_password1.id_for_label }}">Password</label>
            {{ form.new_password1 }}
          </div>
          <div class="fieldWrapper login-fields">
            {{ form.new_password2.errors }}
            <label for="{{ form.new_password2.id_for_label }}">Password confirmation:</label>
            {{ form.new_password2 }}
          </div>

          <input type="submit" value="{% trans 'Submit' %}" class="confirm-btn" />
        </form>
        {% else %}
        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>

        {% endif %}
      </div>

{% endblock %}
