{% extends "registration_base.html" %}
{% load i18n %}

{% block content %}
<div class="container project-delete password-log">
    <div class="center-align">
        <p>{% trans "Password reset successfully" %}</p>
        <a href="{% url 'login' %}" class="confirm-btn">{% trans "Log in" %}</a>
    </div>
</div>
{% endblock %}
