{% extends "registration_base.html" %}
{% load i18n %}

{% block content %}
<div class="login-page">
	<div class="container project-delete password-log">
	    <div class="center-align">
	        <p>{% trans "You are now registered. Activation email sent." %}</p>
	    </div>
	</div>
</div>
{% endblock %}