{% extends "registration_base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="login-page">
    <h1 class="login-head">Register</h1>
    <div class="registration-widget">
        <form method="post" action="." class="login-form">
          {% csrf_token %}
          {{ form.non_field_errors }}
            <div class="fieldWrapper login-fields">
                {{ form.username.errors }}
                    <label class="required" for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
            </div>
            <div class="fieldWrapper login-fields">
                {{ form.first_name.errors }}
                    <label class="required" for="{{ form.first_name.id_for_label }}">First Name:</label>
                {{ form.first_name|attr:'required:true' }}
            </div>
            <div class="fieldWrapper login-fields">
                {{ form.last_name.errors }}
                    <label class="required" for="{{ form.last_name.id_for_label }}">Last Name:</label>
                {{ form.last_name|attr:'required:true' }}
            </div>
            <div class="fieldWrapper login-fields">
                {{ form.email.errors }}
                    <label class="required" for="{{ form.email.id_for_label }}">Email address:</label>
                {{ form.email }}
            </div>
            <div class="fieldWrapper login-fields">
                {{ form.password1.errors }}
                    <label class="required" for="{{ form.password1.id_for_label }}">Password:</label>
                {{ form.password1 }}
                <ul class="helper">
                    <li>
                        Your password can't be too similar to your other personal information.
                    <li>
                        Your password must contain at least 9 characters.
                    </li>
                    <li>
                        Your password can't be a commonly used password.
                    </li>
                    <li>
                        Your password can't be entirely numeric.
                    </li>
                </ul>
            </div>
            <div class="fieldWrapper login-fields">
                {{ form.password2.errors }}
                    <label class="required" for="{{ form.password2.id_for_label }}">Password confirmation:</label>
                {{ form.password2 }}
            </div>
            <div class="fieldWrapper login-fields">
                {{ form.employee_id.errors }}
                    <label class="required" for="{{ form.employee_id.id_for_label }}">Employee ID:</label>
                {{ form.employee_id }}
            </div>
            <div class="fieldWrapper login-fields">
                {{ form.company.errors }}
                    <label class="required" for="{{ form.company.id_for_label }}">Company:</label>
                {{ form.company }}
            </div>
            <div class="fieldWrapper login-fields">
                {{ form.level.errors }}
                    <label class="required" for="{{ form.level.id_for_label }}">Level:</label>
                {{ form.level }}
                </div>
            <div class="fieldWrapper login-fields">
                {{ form.report_to.errors }}
                    <label class="required" for="{{ form.report_to.id_for_label }}">Report to:</label>
                {{ form.report_to }}
            </div>
            <input type="submit" value="{% trans 'Submit' %}" class="login-btn" />
        </form>
    </div>
</div>
{% endblock %}
