{% load get_marks %}
<html>
<head>
<style type="text/css">
.navbar{
	box-shadow: 0 0 10px 0 rgba(154,154,154,0.46);
    background: #ffffff !important;
    height:80px;
}
.logout-btn{
	float: right;
    -webkit-appearance: none !important;
    padding: 14px 27px;
    background: transparent;
    border: 1px solid #f89422;
    color: #f89422;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 9px;
}
.mark_list{
	margin-top:94px;
}
.submit-btn{
	float: right;
    -webkit-appearance: none !important;
    padding: 14px 27px;
    background: transparent;
    border: 1px solid #f89422;
    color: #f89422;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 9px;
    margin-right: 50%;
}
.left-div{
    color: #000;
    height: 61px;
    width: 48%;
    float: left;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<script>
$(document).ready(function(){
	$('#total_marks').dataTable({
        "bPaginate": true,
    });
    $('#ranking_table').dataTable({
        "bPaginate": true,
    });
});
</script>
<head>
<body>


<nav class="navbar">
<div class="left-div"><h1>Welcome {{request.user.username}}!</h1></div>
<div><button class="logout-btn"><a href="/accounts/logout">Logout</a></button></div>
</nav>


{% if request.user.is_admin or request.user.is_superuser %}
	<div style="margin-top:90px;">
	<table id="ranking_table">
	<thead>
		<tr>
		<th style="text-align:left;">S.No</th>
		<th style="text-align:left;">Students Name</th>
		{% for subject in subjects %}
			<th style="text-align:left;">{{subject.name}} Marks</th>
		{% endfor %}
		<th style="text-align:left;">Average</th>
		<th style="text-align:left;">Rank</th>
		</tr>
	</thead>
	<tbody>	
		{% for student in students %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{student.name}}</td>		
			{% for subject in subjects %}
				<td>{{ student.id |get_marks:subject.id }}</td>
			{% endfor %}
			<td>{{student.average}}</td>
			<td>{{student.rank}}</td>
		</tr>	
		{% endfor %}
	</tbody>		
	</table>
	</div>
{% else %}
	<div>
	<div class="left-div"><h2>Subject Code: {{subject.code}}</h2></div>
	<div class="right-div"><h2 style="float:right;">Subject Name:{{subject.name}}</h2></div>
	<form method="POST" action="." class="mark_list">
	{% csrf_token %}
	<table id="total_marks">
	<thead>
		<tr>
		<th style="text-align:left;">S.No</th>
		<th style="text-align:left;"">Student Name</th>
		<th style="text-align:left;">Marks</th>
		</tr>
	</thead>
	<tbody>
		{% for i in students %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{i.name}}</td>
			<td><input type="number" name="marks_{{i.id}}" value="{{ i.id |get_marks:subject_id }}" required></td>	
		</tr>		
		{% endfor%}
	</tbody>	

	<table>
	<input type="submit" value="Submit" class="submit-btn">
	</form> 
	</div>
{% endif %}

</body>
</html>