<div>
<table>
<tr>
<th>S.No</th>
<th>Students Name</th>
{% for subject in subjects %}
	<th>{{subject.name}} Marks</th>
{% endfor %}
<th>Average</th>
</tr>
<tr>
{% for student in students %}
	<td>{{forloop.counter}}</td>
	<td>{{student.name}}</td>		
	{% for subject in subjects %}
		{% if all_marks %}
			{% for m in all_marks %}
				{% if m.subject == subject  and m.student == student %}
					<td><input type="number" name="marks_{{student.id}}_{{subject.code}}" required value={{m.marks}}></td>
				{% endif %}
			{% endfor %}
		{% else %}
			<td><input type="number" name="marks_{{student.id}}" required></td>	
		{% endif %}
	{% endfor %}
	<td>{{student.average}}</td>
{% endfor %}	
</tr>
</table>
</div>