<div>
<table>
<tr>
<th>S.No</th>
<th>Students Name</th>
{% for subject in subjects %}
	<th>{{subject.name}} Marks</th>
{% endfor %}
<th>Average</th>
<th>Rank</th>
</tr>
{% for student in students %}
<tr>
	<td>{{forloop.counter}}</td>
	<td>{{student.name}}</td>		
	{% for subject in subjects %}
		{% if all_marks %}
			{% for m in all_marks %}
				{% if m.subject == subject  and m.student == student %}
					<td><input type="number" name="marks_{{student.id}}_{{subject.code}}" required value={{m.marks}}></td>
				{% endif %}
			{% endfor %}
		{% else %}
			<td><input type="number" name="marks_{{student.id}}" required></td>	
		{% endif %}
	{% endfor %}
	<td>{{student.average}}</td>
	<td>{{student.rank}}</td>
</tr>	
{% endfor %}	
</table>
</div>




<html>
<body>

<div>
<form method="POST" action=".">
{% csrf_token %}
<table>
<tr>
<th>Student Name</th>
<th>Marks</th>
</tr>
{% for i in marks %}
<tr>
	<td>{{forloop.counter}}</td>
	<td>{{i.student.name}}</td>
	{% if i.marks%}
		<td><input type="number" name="marks_{{i.id}}" required="" value={{i.marks}}></td>
	{% endfor %}
	{% endif %}		
</tr>		
{% endfor%}
<table>
<input type="submit" value="Submit">
</form>
</div>




</body>
</html>