<html>
<head>
<style>
.registration-widget{
	max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(154,154,154,0.46);
    margin-top: 30px;
}
.submit-btn{
	-webkit-appearance: none !important;
    padding: 6px 25px;
    background: transparent;
    border: 1px solid #f89422;
    color: #f89422;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}
.navbar{
	box-shadow: 0 0 10px 0 rgba(154,154,154,0.46);
    background: #ffffff !important;
    height:80px;
}
.login{
	background-color: #f3f4f6 !important;
}
.login-form{
	text-align: center !important;
}
</style>
</head>
<body class="login">
<nav class="navbar">
<div><h4 style="float:right;margin-right:51px;">Login</h1></div>
</nav>
<div class="registration-widget">
<h2 style="text-align:center;">Login</h2>
<form method="post" class="login-form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="submit-btn">Login</button>
</form>
</div>
</body>
</html>